<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="sqlstr" connectionString="server = localhost\SQLEXPRESS; database = university;integrated security = true ; trustServerCertificate = true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>